<div id="content">
    <section id="date-picker">
        <div class="">
            <div class="date-box">
                <div id="date" class="date shakeSide"><span id="displayDate-update">{{displayDate}}</span></div>
                <form id="date-form" class="date-form">
                    <label for="month">Report Date: </label>
                    <select id="month-selection" name="month">
                        <option value="0">Jan</option>
                        <option value="1">Feb</option>
                        <option value="2">Mar</option>
                        <option value="3">Apr</option>
                        <option value="4" selected>May</option>
                    </select>
                    <select id="day-selection" name="day">
                        {{#each days}}
                        <option value="{{inc @index}} ">{{this}}</option>
                        {{/each}}
                    </select>
                    <select id="year-selection" name="year">
                        <option value="2020">2020</option>
                    </select>
                    <button class="submit purple-gradient">Update</button>
                </form>
            </div>
        </div>
    </section>

    <section id="charts">
        <div class="chart chart1">
            {{>downloadGauge downloads=data.downloads downloadColor=data.downloadColor}}
        </div>

        <div id="stats">
            <div class="stat stat-1">
                <i class="stat-icon fas fa-desktop fa-lg"></i>

                <div class="stat-text">
                    Total Visits
                </div>
                <div class="stat-value shake">(<span id="totalVisits-update" class="update">{{data.totalVisits}}</span>)
                </div>

            </div>
            <div class="stat stat-2">
                <i class="stat-icon fas fa-laptop-house fa-lg"></i>

                <div class="stat-text">
                    Unique Visits
                </div>
                <div class="stat-value shake">(<span id="uniqueVisits-update"
                        class="update">{{data.uniqueVisits}}</span>)
                </div>

            </div>
            <div class="stat stat-3">
                <i class="stat-icon far fa-clock fa-lg"></i>

                <div class="stat-text">
                    Avg. Visit Length
                </div>

                <div class="stat-value shake">(<span id="averageVisitLength-update"
                        class="update">{{data.averageVisitLength}}</span> s)</div>
            </div>
        </div>
        <div id="monthlyChartContainer" class="chart chart2">
            <canvas id="monthlyChart" width="250" height="200"></canvas>
        </div>

        <div id="weeklyChartContainer" class="chart chart3">
            <canvas id="weeklyChart" width="250" height="200"></canvas>
        </div>
    </section>
    <section id="icons">
        <div class="icon icon1">
            <i class="fas fa-user fa-lg"></i>
            <i class="far fa-user fa-lg"></i>

            <div class="icon-text shake"><span id="subscribers-update" class="update">{{data.subscribers}}</span></div>
            <div class="icon-text shake"><span id="nonSubscribers-update" class="update">{{data.nonSubscribers}}</span>
            </div>

            <div class="icon-subtext">Subscriber</div>
            <div class="icon-subtext">Non-Subscriber</div>
        </div>
        <div class="icon icon2">
            <i class="fas fa-mobile-alt fa-lg"></i>
            <i class="fas fa-desktop fa-lg"></i>

            <div class="icon-text shake"><span id="mobile-update" class="update">{{data.mobile}}</span>%</div>
            <div class="icon-text shake"><span id="desktop-update" class="update">{{data.desktop}}</span>%</div>

            <div class="icon-subtext">Mobile</div>
            <div class="icon-subtext">Desktop</div>
        </div>
        <div class="icon icon-4 icon3">
            <i class="fab fa-chrome fa-lg"></i>
            <i class="fas fa-at fa-lg"></i>
            <i class="fas fa-ad fa-lg"></i>
            <i class="fab fa-twitter-square fa-lg"></i>

            <div class="icon-text shake"><span id="url-update" class="update">{{data.url}}</span>%</div>
            <div class="icon-text shake"><span id="link-update" class="update">{{data.link}}</span>%</div>
            <div class="icon-text shake"><span id="advert-update" class="update">{{data.advert}}</span>%</div>
            <div class="icon-text shake"><span id="social-update" class="update">{{data.social}}</span>%</div>

            <div class="icon-subtext">URL</div>
            <div class="icon-subtext">Email Link</div>
            <div class="icon-subtext">Advert</div>
            <div class="icon-subtext">Social Media</div>
        </div>
    </section>
    <section id="lists">
        <div class="left-list">
            <div class="list-title">Visits To Most Popular Pages</div>
            <ul class="list">
                {{#each data.top10Pages}}
                <li><span class="rank">{{inc @index}} </span>
                    <span id="top10Pages-{{inc @index}}-page" class="popular-page">{{this.[0]}}</span>
                    <span id="top10Pages-{{inc @index}}-value"
                        class="popular-value rank-value shake">({{this.[1]}})</span>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="right-list">
            <div class="list-title">Visits by Company</div>
            <ul class="list">
                {{#each data.top10Companies}}
                <li><span class="rank">{{inc @index}} </span>
                    <img class="company-image shakeSide" src=" ../../public/img/{{this.[0]}}.png" alt=""><span
                        id="top10Companies-{{inc @index}}-page" class="company-page">{{this.[0]}}</span>
                    <span id=" top10Companies-{{inc @index}}-value"
                        class="company-value rank-value shake">({{this.[1]}})</span>
                </li>
                {{/each}}

            </ul>
        </div>
    </section>
</div>
<script>
    let weeklyData = [{{ chartData.weeklyData }}];
    let monthlyData = [{{ chartData.monthlyData }}];
    let monthlyLabels = decodeURI("{{ chartData.monthlyLabels }}").split(",")
    let weeklyLabels = decodeURI("{{chartData.weeklyLabels}}").split(",")
    updateWeeklyChart(weeklyLabels, weeklyData);
    updateMonthlyChart(monthlyLabels, monthlyData);
    let chartSize;

    const removeAndUpdateCharts = () => {
        removeOldChartContext("weeklyChartContainer", "weeklyChart");
        updateWeeklyChart(weeklyLabels, weeklyData);
        removeOldChartContext("monthlyChartContainer", "monthlyChart");
        updateMonthlyChart(monthlyLabels, monthlyData);
    }

    const updateChart = () => {
        const screenWidth = window.innerWidth;
        if (screenWidth < 750 && chartSize != "small") {
            removeAndUpdateCharts();
            chartSize = "small";
        } else if (screenWidth < 1050 && screenWidth > 750 && chartSize != "medium") {
            removeAndUpdateCharts();
            chartSize = "medium";
        } else if (screenWidth >= 1050 && chartSize != "large") {
            removeAndUpdateCharts();
            chartSize = "large";
        }
    }

    window.onresize = updateChart;
</script>
