<div id="content">
    <section id="date-picker">
        <div class="">
            <div class="date-box">
                <div id="date" class="date">{{displayDate}}</div>
                <form action="/" method="Get">
                    <label for="month">Report Date: </label>
                    <select id="month-selection" name="month">
                        <option value="0">Jan</option>
                        <option value="1">Feb</option>
                        <option value="2">Mar</option>
                        <option value="3">Apr</option>
                        <option value="4">May</option>
                    </select>
                    <select id="day-selection" name="day">
                        {{#each days}}
                        <option value="{{inc @index}} ">{{this}}</option>
                        {{/each}}
                    </select>
                    <select name="year">
                        <option value="2020">2020</option>
                    </select>
                    <button class="submit purple-gradient">Submit</button>
                </form>
            </div>
        </div>
    </section>

    <section id="charts">
        <div class="chart chart1">
            {{>downloadGauge downloads=data.downloads downloadColor=data.downloadColor}}
        </div>

        <div id="stats">
            <div class="stat stat-1">
                <i class="stat-icon fas fa-desktop fa-lg"></i>

                <div class="stat-text">
                    Total Visits
                </div>
                <div class="stat-value">({{data.totalVisits}})</div>

            </div>
            <div class="stat stat-2">
                <i class="stat-icon fas fa-laptop-house fa-lg"></i>

                <div class="stat-text">
                    Unique Visits
                </div>
                <div class="stat-value">({{data.uniqueVisits}})</div>

            </div>
            <div class="stat stat-3">
                <i class="stat-icon far fa-clock fa-lg"></i>

                <div class="stat-text">
                    Avg. Visit Length
                </div>
                <div class="stat-value">({{data.averageVisitLength}} s)</div>

            </div>
        </div>
        <div id="monthlyChartContainer" class="chart chart2">
            <canvas id="monthlyChart" width="250" height="200"></canvas>
        </div>

        <div id="weeklyChartContainer" class="chart chart3">
            <canvas id="weeklyChart" width="250" height="200"></canvas>
        </div>
    </section>
    <section id="icons">
        <div class="icon icon1">
            <i class="fas fa-user fa-lg"></i>
            <i class="far fa-user fa-lg"></i>

            <div class="icon-text">{{data.subscribers}}</div>
            <div class="icon-text">{{data.nonSubscribers}}</div>

            <div class="icon-subtext">Subscriber</div>
            <div class="icon-subtext">Non-Subscriber</div>
        </div>
        <div class="icon icon2">
            <i class="fas fa-mobile-alt fa-lg"></i>
            <i class="fas fa-desktop fa-lg"></i>

            <div class="icon-text">{{data.mobile}}%</div>
            <div class="icon-text">{{data.desktop}}%</div>

            <div class="icon-subtext">Mobile</div>
            <div class="icon-subtext">Desktop</div>
        </div>
        <div class="icon icon-4 icon3">
            <i class="fab fa-chrome fa-lg"></i>
            <i class="fas fa-at fa-lg"></i>
            <i class="fas fa-ad fa-lg"></i>
            <i class="fab fa-twitter-square fa-lg"></i>

            <div class="icon-text">{{data.url}}%</div>
            <div class="icon-text">{{data.link}}%</div>
            <div class="icon-text">{{data.advert}}%</div>
            <div class="icon-text">{{data.social}}%</div>

            <div class="icon-subtext">URL</div>
            <div class="icon-subtext">Email Link</div>
            <div class="icon-subtext">Advert</div>
            <div class="icon-subtext">Social Media</div>
        </div>
    </section>
    <section id="lists">
        <div class="left-list">
            <div class="list-title">Visits To Most Popular Pages</div>
            <ul class="list">
                {{#each data.top5Pages}}
                <li><span class="rank">{{inc @index}} </span> {{this.[0]}}<span class="rank-value">({{this.[1]}})</span>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="right-list">
            <div class="list-title">Visits by Company</div>
            <ul class="list">
                {{#each data.top5Companies}}
                <li><span class="rank">{{inc @index}} </span> <img src="../../public/img/{{this.[0]}}.png"
                        alt="">{{this.[0]}}<span class="rank-value">({{this.[1]}})</span></li>
                </li>
                {{/each}}

            </ul>
        </div>
    </section>
</div>
<script>
    const monthlylabels = decodeURI("{{ chartData.monthlyLabels }}").split(",")
    const weeklyLabels = decodeURI("{{chartData.weeklyLabels}}").split(",")
    updateWeeklyChart(weeklyLabels, [{{ chartData.weeklyData }}]);
    updateMonthlyChart(monthlylabels, [{{ chartData.monthlyData }}]);
    let chartSize;

    const removeAndUpdateChart = () => {
        removeOldChartContext("weeklyChartContainer", "weeklyChart");
        updateWeeklyChart(weeklyLabels, [{{ chartData.weeklyData }}]);
    removeOldChartContext("monthlyChartContainer", "monthlyChart");
    updateMonthlyChart(monthlylabels, [{{ chartData.monthlyData }}]);
    }

    const updateChart = () => {
        const screenWidth = window.innerWidth;
        if (screenWidth < 750 && chartSize != "small") {
            removeAndUpdateChart();
            chartSize = "small";
        } else if (screenWidth < 1050 && screenWidth > 750 && chartSize != "medium") {
            removeAndUpdateChart();
            chartSize = "medium";
        } else if (screenWidth >= 1050 && chartSize != "large") {
            removeAndUpdateChart();
            chartSize = "large";
        }
    }

    window.onresize = updateChart;
</script>
